.system-data-body {
    width: 90%;
    border: 1px solid #777;
    height: 25%;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    margin: 2% auto;
    justify-content: center;
}

.system-data-title {
    color: #0ba706;
}

.system-data-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 2% auto;
}

.system-data-item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
    width: 90%;
    margin: 0.5%;
}

.system-data-item p {
    font-size: 15px;
    font-weight: 600;
    color: #222;
}

.system-data-item input {
    width: 50%;
    border: 1px #777 solid;
}
