.search-body {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.search-form {
    width: 90%;
    border: 1px solid #777;
    height: 15%;
    margin-top: 1.5%;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
}

.search-header-text {
    text-align: start;
    font-size: 10px;
    position: absolute;
    top: 0.5px;
    font-weight: 600;
    color: #0ba706
}

.result-header-text {
    top: 18%;
    left: 5%;
    position: absolute;
    font-size: 10px;
    font-weight: 600;
    color: #0ba706
}

.search-query-item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 70%;
}

.search-query-item input {
    width: 50%;
}

.search-query {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: auto;
}

.result-container {
    font-size: small;
    text-align: center;
    width: 90%;
    justify-content: center;
    border-radius: 5px;
    border: 1px solid #777;
    margin-top: 2%;
    height: 63%;
    overflow: scroll;
    overflow-x: hidden;
}

#search-button {
    margin: 0 4px;
    color: #0ba706;
    font-weight: 700;
}

.pagination-items {
    width: 5%;
    align-items: center;
    display: flex;
    justify-content: space-around;
}

#pagination-control {
    cursor: pointer;
    text-decoration: underline;
}

#pagination-control-disabled {
    color: #dadada;
}

#loading {
    margin: auto;
    justify-content: center;
    align-items: center;
    display: flex;
    height: 100%;
    width: 60px;
}
